@import url('https://fonts.googleapis.com/css2?family=Poppins&Roboto&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

main {
    position: absolute;
    // border: 1px solid white;
    width: 100%;
    top: 50%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    display: inline-block;
    left: 50%;
    font-size: 10vw;
    width: 100%;
    text-align: center;
}

nav {
    position: absolute;
    // border: 1px solid white;
    width: 100%;
    padding: 1em 1em 0 1em;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

ul li {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 1em;
}

